body{
    font-family:  'Poiret One', serif;
    background: url('../gifs/lush.gif');
    margin: 0;
    padding: 0;
    font-size: 16pt;
    background-size: cover;
    background-color: none;
    background-repeat: no-repeat;

    /* font-size: 16pt; test for this! Make all sizes em or rem */
  }
  .flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  header{
    display:flex;
    background: #fff;
    border-bottom: 3px solid #000000;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    position: sticky;
  }
  a { 
    color: rgb(0, 0, 0);
    }  

    .card h3 {
      font-size: 2em;
      color: white;
      text-align: center center;
  }

  .nav_links{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    padding: 1px;
  }

  .pricing{
    min-height: 475px;
    padding-top: 5px;
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    /* flex-basis: 450px; */
    /* flex-grow: 0; */
    
  }
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 1px dashed rgb(0, 0, 0);
  }


  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus{
    color: #000000;
    text-decoration:underline;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed;
  }
  .misc{
    /* min-height: 475px; */
    padding-top: 5px;
    display:flex;
    justify-content:space-evenly;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items:center; */
    flex-basis: 450px;
    flex-grow: 0;
    flex-grow: space
    
  }
  
.project{
    
    padding-top: 5px;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    
    /* flex-direction: column; */
     /* align-items:center;  */
}
  .card {
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 25px 0;
    flex-basis: 450px;
    border: solid 2px black;
    
    /* flex-grow: 0; */
   

  }
  .card > header {
    
    background: #2aca95;
    /* position: fixed;#9ec8ff */
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    max-height: 100px;
    /* max-width: 800px; */
    position: static;
        /* padding: 20px; */
    /* padding: 0 0 25px 0; */
  
  }
  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }
  .hello{
    color:white; font-size: 4em; padding-top: 1em;
  }
  .gallery{
    /* min-height: 600px; */
    min-height: 600px;
    display: flex;
    flex-direction: row; 
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    /* align-items: space-around; */
  }
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .classproj{
    background: url('../gifs/download.jpg');
    
    background-size: cover;
    background-color: none;
    background-repeat: no-repeat;
  }
  .gallery > img{
    border: 3px solid #ffffff;
    /*max-height: 250px; 
 /* border-style: solid 10px #50C7C7; */
    border-radius: 7px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #image30{
    border: 3px solid #ffffff;
    border-radius: 7px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
/*
  .typewriter {
    font-family: Courier, monospace;
	display: block;
  text-align: center;
}

.typewriter-text {
    display: block;
    text-align: center;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
*/
.waterfall{
  background: rgb(110, 133, 143);
  /* rgb(37, 121, 155); */

}

.aurora{
  
  background: url('../gifs/aurora.gif');
        
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
}

.city2{
  background: url('../gifs/city2.gif');
        
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px){
    header{
        
        display:flex;
        background: #fff;
        border-bottom: 3px solid #000000;
        justify-content:space-between;
        flex-direction: row;
        align-content:center;
        position: sticky;
        top: 0;
        z-index:1;

      }
      body{
        font-family: 'Poiret One', serif;
        background: url('../gifs/intersection.gif');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
    
        /* font-size: 16pt; test for this! Make all sizes em or rem */
      }
      .grid{
       display: grid;
       grid-template-columns: 200px 200px 200px;
       grid-template-rows: 200px 200px 200px;
      
      }
      .grid-container {
        display: grid; grid-template-rows: 1; grid-template-columns: 2; align-items: center; 
      }
      .waterfall{
        background: url('../gifs/water.gif');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
      }
      .aurora{
        background: url('../gifs/aurora.gif');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
      }
      .koi{
        background: url('../gifs/koi.gif');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
      }
      .city2{
        background: url('../gifs/koi.gif');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
      }
      
      .hello{
        color:white; font-size: 4em; padding-top: 2.1em;
      }
      .card > header {
        background: #bd4656;
    /* position: fixed; */
      border-bottom: none;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        position: static;
            /* padding: 20px; */
        /* padding: 0 0 25px 0; */
      
      }

      .classproj{
        background: url('../gifs/download.jpg');
        
        background-size: cover;
        background-color: none;
        background-repeat: no-repeat;
      }
      .nav_links{
        display:flex;
        /* justify-content:flex-end; */
        flex-direction: row;
        justify-content: space-around;
        /* padding: 1px; */
      }
      .card {
        /* margin: 12px; */
        /* flex-direction: column; */
        /* background: #fff; */
        /* border-radius: 7px; */
        /* padding: 0 0 25px 0; */
        flex-basis: 250px;
        /* flex-grow: 0; */
       
    
      }
     
      .cardblue {
          margin: 12px;
          background: #fff;
          border-radius: 7px;
          padding: 0 0 25px 0;
      
        
        flex-basis: 450px;
        border: solid 2px black;
        
        /* flex-grow: 0; */
       
    
      }
      .cardblue h3 {
        font-size: 2em;
        color: white;
        text-align: center center;
    }
      .cardblue > header {
        
        background: #276683;
        border-bottom: none;
        /* position: fixed;#9ec8ff 
        border-bottom: none;
       
        padding-top: 5px;
        padding-bottom: 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        max-height: 100px;
        /* max-width: 800px; 
        position: static;
        */
        flex-basis: 250px;
            /* padding: 20px; */
        /* padding: 0 0 25px 0; */
      
      }
     
    
      .cardblue > ul{
        list-style: none;
        padding-left: 5px;
      }
      
      .cardblue > ul li {
        width: 90%;
        /* margin: 20px auto; */
        
      }
}
@media (prefers-reduced-motion){
    #logo{
        animation:none;
    }
}


 


